
body{
    text-align: center;
}
.btn{
    height:200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    background-color: pink;
}
.container{
    display: flex;
}
.line-one{
    display: grid;
    position: relative;
    left:33%;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.purple{
    background-color: #819ff9;
}
.green{
    background-color: #63aac0;
}
.btn{
    margin:10px;
    padding:5px;
}
.gameFlash{
    background-color: white;
}
.userFlash{
    background-color: purple;
}